.ind-book {
  flex-grow: 1;
  max-width: 190px;
  min-width: 100px;
}

.thumbnail-container {
  width: 100%;
}

.thumbnail {
  width: 100%;
}

/* Book Details */

.thumbnail-div {
  height: min-content;
}

.book-detail {
  display: flex;
  max-height: 350px;
  overflow: scroll;
}

.book-title {
  text-align: center;
}

.book-desc {
  overflow: scroll;
  padding: 10px;
}

.icons {
  padding: 5px;
  display: flex;
}

.icon {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
}

.icon > p {
  font-size: 13px;
  font-weight: 300;
}
