.user-info {
  text-align: center;
}

.profile-pic {
  width: 200px;
  clip-path: circle();
}

.bootstrap-modal {
  margin-top: 0px;
}

.books-map {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  /* border: solid; */
}

.ind-book {
  width: min-content;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.ind-book > * {
  margin: 0px;
}

.recBy {
  font-size: 12px;
  font-style: italic;
}

.view-book {
  border: red solid;
}
