.map-nav {
  padding: 0px;
}

.map-nav > ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.map-nav > ul > li {
  display: block;
  flex-grow: 1;
  text-align: center;
}

.current-page {
  border-bottom: solid;
}
