.header-container {
  height: 200px;
  overflow: scroll;
}

.header {
  width: 100%;
}

.user-profile {
  border: solid;
}

.avi {
  height: 150px;
  z-index: 1;
  margin-top: -100px;
}

.avi-edit {
  display: flex;
  justify-content: space-between;
}

.username {
  border: solid;
}
