.header-container {
  aspect-ratio: 3 /1;
  overflow: scroll;
}

.header {
  width: 100%;
}

.user-profile {
  padding: 1.5%;
}

.avi-container {
  z-index: 1;
  margin-top: -100px;
  width: 150px;
  aspect-ratio: 1/1;
}

.avi {
  object-fit: cover;
  width: 100%;
}

.avi-edit {
  display: flex;
  justify-content: space-between;
}
