.api-result {
  margin: 3px;
}

.selected-book {
  border: solid pink;
}

.picked-book {
  border: solid rgba(255, 0, 0, 0.534) 2px;
  border-radius: 3px;
}

.books-result {
  overflow: scroll;
}

.results-spinner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
